            <div class="row">
				<div class="col-lg-12">
					<img style="width:100%; height: 400px;" src="/assets/distributor.png"/>	
				</div>		
			</div>			
            
               <div class="col-lg-12" style="padding-bottom: 20px;">
	              
	              <h3 class="section-heading" style="text-align:left;">Distributors Enquiry</h3>
                    <div class="col-md-6" style="padding-top: 17px; background-color: lightblue; border-radius: 37px;">
                        <form action="distributor_complaint" name="distributor_complaint" id="distributorForm" novalidate >
                            <div class="form-group col-md-6">
                            	<select name="distributor_complaint[by]" class="form-control">
								  <option value="By Distributor">By Distributor</option>
								  <option value="By User">By User</option>
								</select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" data-lable="Name" name="distributor_complaint[name]" class="form-control" placeholder="Name *" id="name" required data-validation-required-message="Please enter your name">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" data-lable="Email" name="distributor_complaint[email]" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Please enter your email">
                                <p class="help-block text-danger"></p>
                            </div>
                             <div class="form-group col-md-6">
                                <input type="text" data-lable="Phone" name="distributor_complaint[phone]" class="form-control" placeholder="Phone *" id="phone" required data-validation-required-message="Please enter your Phone">
                                <p class="help-block text-danger"></p>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <input type="text" data-lable="City" name="distributor_complaint[city]" class="form-control" placeholder="City *" id="city" required data-validation-required-message="Please enter your City">
                                <p class="help-block text-danger"></p>
                            </div>
                            
                            <div class="form-group">
                                <textarea data-lable="Address" name="distributor_complaint[address]" class="form-control" placeholder="Address *" id="address"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <input type="text" data-lable="Pin code" name="distributor_complaint[pincode]" class="form-control" placeholder="Pin Code *" id="pincode" required data-validation-required-message="Please enter your pincode">
                                <p class="help-block text-danger"></p>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <input type="text" data-lable="Product" name="distributor_complaint[product]" class="form-control" placeholder="Product *" id="product" required data-validation-required-message="Please enter your product">
                                <p class="help-block text-danger"></p>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" data-lable="Model" name="distributor_complaint[model]" class="form-control" placeholder="Model *" id="model" required data-validation-required-message="Please enter your model">
                                <p class="help-block text-danger"></p>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" data-lable="Complaint" name="distributor_complaint[complaint]" class="form-control" placeholder="Complaint *" id="complaint" required data-validation-required-message="Please enter your complaint">
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="text-center">
                                <div id="success" style="color:green"></div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>                           
                        </form>    
                    </div>
                    <div class="col-md-6">
                      <img src="/assets/distri.png" style="width:100%" />
                    </div>
               </div>
   

        
<style>
	.select_postion{
		padding: 4px;
    	width: 100%;
	}
	#applicant_avatar{
		font-size: 15px;
		height: 35px;
		margin-left: 231px;
	}
	#distributorForm #email,#distributorForm #model, #distributorForm #complaint, #distributorForm #address{
    width: 497px;
    padding-left: 29px;
    padding-right: 7px;
    margin-left: 13px;
    margin-right: 0px;
	}
	
	.form-group{
		margin-bottom:7px;
		border-radius: 14px;
	}
	
	.text-center{
		padding-bottom:12px;
	}
</style>
