  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  
               <div class="col-lg-12" style="margin-bottom: 10px; padding-bottom: 20px; background-color: lightskyblue; border-radius: 86px;">
	              
	              <h3 class="section-heading" style="text-align:center;">Distributors Enquiry</h3>
				  
				  <div class="col-md-12" style="padding-left: 258px; padding-top: 17px;">
					<form action="distributor_complaint" name="distributor_complaint" id="distributorForm" novalidate >
						<div class="col-md-12" style="padding-left: 30px ">
							<h5>Personal Information</h5>
						</div>	
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Name
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Name" name="distributor_complaint[name]" class="form-control" id="name" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Father/Husband Name
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Guardian Name" name="distributor_complaint[guardian_name]" class="form-control" id="guardian_name" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								DOB
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="DOB" name="distributor_complaint[dob]" class="form-control" id="dob" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Gender
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Gender" name="distributor_complaint[gender]" class="form-control" id="gender" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Educational Qualification
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Educational Qualification" name="distributor_complaint[educational_qualification]" class="form-control" id="educational_qualification" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Permanent Address
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Permanent Address" name="distributor_complaint[permanent_address]" class="form-control" id="permanent_address" style="height: 60px;">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Present Address
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Present Address" name="distributor_complaint[present_address]" class="form-control" id="present_address" style="height: 60px;">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Contact Number
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Contact Number" name="distributor_complaint[contact_no]" class="form-control" id="contact_no" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Alternate Contact Number
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Alternate Contact No" name="distributor_complaint[alternate_contact_no]" class="form-control" id="alternate_contact_no" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Email ID
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Email ID" name="distributor_complaint[email]" class="form-control" id="email" >
							</div>
						</div>
						<div class="col-md-12" style="padding-left: 30px ">
							<h5>Employment Information</h5>
						</div>							
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Occupation
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Occupation" name="distributor_complaint[occupation]" class="form-control" id="occupation" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Current Income
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Current Income" name="distributor_complaint[current_income]" class="form-control" id="current_income" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Working Hours
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Working Hrs" name="distributor_complaint[working_hrs]" class="form-control" id="working_hrs" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Total Experince Years
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Total Experience" name="distributor_complaint[total_exp]" class="form-control" id="total_exp" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-2">
								Source of Advertisement/Number
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Source of Advertisement" name="distributor_complaint[source_of_adv]" class="form-control" id="source_of_adv" >-
							</div>
						</div>
						<div class="col-md-12">
							I hereby declare that the above mentioned perticulars are true and accurate to the best of my knowledge
						</div>
						<div class="col-md-12" style="padding-top: 10px">
							<div class="form-group col-md-2">
								Submitted Name
							</div>
							<div class="form-group col-md-6">
								<input type="text" data-lable="Submitted Name" name="distributor_complaint[submitted_name]" class="form-control" id="submitted_name" >
							</div>							
						</div>
						<div class="col-md-8">
							<div class="text-center">
								<div id="success" style="color:green"></div>
								<button style="background-color: blue;" type="submit" class="btn btn-primary">Send</button>
							</div>
						</div>
					</form>		
				  </div>
		
                    <!--<div class="col-md-6">-->
                    <!--  <img src="/assets/distri.png" style="width:100%" />-->
                    <!--</div>-->
               </div>
   

        
<style>
	.select_postion{
		padding: 4px;
    	width: 100%;
	}
	#applicant_avatar{
		font-size: 15px;
		height: 35px;
		margin-left: 231px;
	}

	
	.form-group{
		margin-bottom:7px;
		border-radius: 14px;
	}
	
	.text-center{
		padding-bottom:12px;
	}
</style>

<script>
$(document).on('ready page:load', function () {
$( "#dob" ).datepicker();
})
</script> 
