<div class="container">
	<img src="/assets/first_image.png" style="width:100%;"/>
	<div class="row" style="padding-top:30px; padding-bottom:30px;">
		<div class="col-md-3 block">
			<div style="padding:82px; background:lightskyblue;">
				Led Bulb Images
				<a class="btn btn-primary vacancy add_button" href="#">Check All</a>
			</div>
		</div>
		<div class="col-md-3 block">
			<div style="padding:82px; background:lightskyblue;">
				Ceiling fan and Cooler image
				<a class="btn btn-primary vacancy add_button" href="#">Check All</a>
			</div>
		</div>
		<div class="col-md-3 block">
			<div style="padding:82px; background:lightskyblue;">
				Electric Iron Image
				<a class="btn btn-primary vacancy add_button" href="#">Check All</a>
			</div>
		</div>
		<div class="col-md-3 block">
			<div style="padding:82px; background:lightskyblue;">
				Induction and Mixer Grinder image
				<a class="btn btn-primary vacancy add_button" href="#">Check All</a>
			</div>
		</div>
	</div>
</div>
