<body>
	<div class="container sub-header">
		<div class="row">
			<div class="col-lg-12" style="">
				<div class="col-lg-1 sub-header">PADMA Quote</div>
				<div class="col-lg-4 sub-header" style="border-left: 2px solid lightblue; height:60px;">Customer- 11111111111</div>
				<div class="col-lg-3 sub-header" style="border-left: 2px solid lightblue; height:60px;">Service Requirement</div>
				<div class="col-lg-2 sub-header" style="border-left: 2px solid lightblue; height:60px;">Order Online</div>
				<div class="col-lg-1 sub-header">LOGO</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12" style="">
				<div class="col-lg-1 header">Home</div>
				<div class="col-lg-2 header">About Us</div>
				<div class="col-lg-2 header">Products</div>
				<div class="col-lg-2 header">Distributor Enquiry</div>
				<div class="col-lg-2 header">Carrier</div>
				<div class="col-lg-2 header">Contact us</div>
				<div class="col-lg-1 header">Login</div>
			</div>
		</div>
	</div>
</body>
